<a href="https://colab.research.google.com/github/sakibtheseeker/Machine_Learning/blob/main/ML_CA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loading Dataset**

In [2]:
# importing pandas package
import pandas as pd
   
# making data frame from csv file
data = pd.read_csv("/content/drive/MyDrive/TY IT/SEM 6/ML/CA2/Datasets/insurance.csv")
df=data[1:101]
df

     age     sex     bmi  children smoker     region      charges
1     18    male  33.770         1     no  southeast   1725.55230
2     28    male  33.000         3     no  southeast   4449.46200
3     33    male  22.705         0     no  northwest  21984.47061
4     32    male  28.880         0     no  northwest   3866.85520
5     31  female  25.740         0     no  southeast   3756.62160
..   ...     ...     ...       ...    ...        ...          ...
96    54  female  30.800         3     no  southwest  12105.32000
97    55    male  38.280         0     no  southeast  10226.28420
98    56    male  19.950         0    yes  northeast  22412.64850
99    38    male  19.300         0    yes  southwest  15820.69900
100   41  female  31.600         0     no  southwest   6186.12700

[100 rows x 7 columns]

# **Data Cleaning**

In [3]:
df = df.dropna(axis = 0, how ='any')
print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# **Linear Regression**

In [33]:
import numpy as np
import matplotlib.pyplot as mtp
x=df.iloc[:,:7].values
y=df.iloc[:,:1].values
 

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3,random_state=0)


from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

y_pred1=regressor.predict([[-1,1]])

print(y_pred1)

mtp.scatter(x_train,y_train,color='green')
mtp.plot(x_train,regressor.predict(x_train))
mtp.show()

ValueError: ignored

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive